.grid {
    position: absolute;
    width: 1000px;
    height: 657px;
    border: solid black 10px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.bar {
    position: absolute;
    background-color: red;
}